# Python & Virtual Environment
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Google Authentication / Sensitive Data Tokens
Auth/
*.token
*.json
!location_history.json

# System files
.DS_Store
Thumbs.db